/* CSS file for our chef recipe app
The beauty of the client's side of our page */

:root 
{
 --primary-color:rgb(19, 18, 18);

}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* resource for 5 star rating */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

/* beginning of main styling for the pages */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    font-family: 'Nunito';
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke;
    background-color: var(--primary-color);
}

/* navigation bar starts here */

nav {
    background-color: whitesmoke;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: gray;
}

nav li:first-child{
    margin-right: auto;
}

.menu-btn{
    display: none;
}

/* end of the navigation bar */

/* this is the beginning of the sidebar navigation */

.sideBar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #f5f5f521;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sideBar li {
    width: 100%;
}

.sideBar a {
    width: 100%;
}
/* this is the end of the side bar navigation */

/* beginning section styling where the main logo, search
bar and the recipes are displayed */

section{
    /* min-height: 100vh; */
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: var(--primary-color);
}

.container {
    width: 90%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}
.logoChef {
    border: 1px solid white;
    width: 40%;
    height: 220px;
    margin: 10px auto;
    align-content: center;
}
.logoChef > img {
    margin-top: 10px;
}

.search-wrapper{
    height: auto;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    overflow: hidden;
}

.main-search{
    width: 15%;
    max-width: 100px;
    margin: 20px auto;
    margin-left: 2px;
    background-color: whitesmoke;
    border-radius: 4px;
    border: none;
    font-size: 1.8rem;
    color: gray;
}
.main-search:hover{
    background-color: rgb(110, 108, 108);
    color: rgb(183, 181, 181);
    cursor: pointer;
}

.formFetcher{
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    margin-left: 10px;
    background-color: whitesmoke;
    border-radius: 4px;
}
.formFetcher .inputMain{
    width: 90%;
    background-color: transparent;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 2rem;
}
.formFetcher > svg{
    width: 9%;
    font-size: 3rem;
    margin: -9px;
    opacity: 30%;
}
.search-result{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
.item{
    width: 100%;
    border-radius: 8px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    overflow: hidden;
}
.item img{
    width: 100%;
    height: 300px;
    border: 4px;
}

.item .title{
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 20px 10px 0 0;
}

.item .item-data{
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
}

.item .flex-ctn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item .view-btn{
    text-decoration: none;
    background-color: #404041;
    width: 130px;
    height: auto;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    border-radius: 4px;
    font-size: 1.4rem;
    margin-top: 20px;
    /* align-self: flex-start; */
}
.item .view-btn:hover{
    opacity: 90%;
}

a > .w-6 {
    color: white;
    width: 35px;
    margin-left: 20px;
    margin-top: 20px;
    
}
a > .w-7 {
    color: whitesmoke;
    width: 35px;
    margin-top: 20px;
    
}
a > .w-8 {
    color: whitesmoke;
    width: 35px;
    margin-top: 20px;
    
}


/* style for the user review when the review button is clicked */

 #review-ctn {
    border: 2px solid white;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35%;
    margin-top: 20px;
    color:whitesmoke;
    overflow: auto;
    background-color: rgb(27, 26, 26);
    /* padding: 20px; */
    border-radius: 10px;
}

#review-ctn > h3 {
    color: white;
    font-size: 16px;
    margin:10px 10px;
    opacity: 60%;
}

#submitBtn {
    margin-left: 70%;
    margin-bottom: 10px;
    background-color: #404041;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
} 

#submitBtn:hover {
    opacity: 90%;
}

/* general page starts styling here */

p {
    color: whitesmoke;
}

.favWhite {color: black;}

/*____________________________________________*\
        #FAVOURITE RECIPE PAGE STYLING
\*____________________________________________*/

.fav-h1 {
    font-family: Arial;
    color: whitesmoke;
    font-style: italic;
    opacity: 50%;
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
}

.fav-ctn {
    /* border: 3px solid black; */
    height: auto;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 20px;
}

.fav-card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.fav-card img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.fav-card h2.title {
    margin: 0;
    color: whitesmoke;
    font-family: Arial;
}

.view-btn {
    padding: 10px 20px;
    background-color: #404041;
    color: whitesmoke;
    font-family: Arial;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.view-btn:hover {
    opacity: 90%;
}

a svg {
    width: 24px;
    height: 24px;
    fill: #333;
    margin-left: 10px;
}

a svg:hover {
    fill: #ff0000;
    cursor: pointer;
}



/*____________________________________________*\
        #REVIEW RECIPE PAGE STYLING
\*____________________________________________*/

#reviewPage-ctn{
    width: 100%;
    height: auto;
    margin-left: 0;
    display: flex;
    flex-direction: row;
}
#reviewAdLeft{
    background-color: var(--primary-color);
    border: 1px solid white;
    width: 25%;
    height: 100vh;
}
#reviewMain {
    background-color: var(--primary-color);
    width: 50%;
    height: 100vh;

}
#reviewAdRight{
    background-color: var(--primary-color);
    border: 1px solid white;
    width: 25%;
    height: 100vh;

}
#reviewAdLeft > p {
    color: whitesmoke;
    text-align: center;
    padding-top: 100%;
    text-transform: lowercase;
    font-style: italic;
    opacity: 50%;
}
#reviewAdRight > p {
    color: whitesmoke;
    text-align: center;
    padding-top: 100%;
    text-transform: lowercase;
    font-style: italic;
    opacity: 50%;
}
#reviewRetrieve {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 20px;
}
.review-h1{
    font-family: Arial;
    color: whitesmoke;
    font-style: italic;
    opacity: 50%;
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
}

/* layout of review items */

.review {
    border: 1px solid #ccc;
    background-color: rgb(27, 26, 26);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: auto;
    font-family: Arial;
}

/* Style for username */
.review p:first-child {
    font-weight: bold;
    margin-bottom: 2px;
    color: whitesmoke;
    font-size: 24px;
  }
  
  /* Style for rating */
  .review  p {
    color: #ffa500;
    font-size: 16px;
  }
  
  /* Style for description */
  .review p:last-child {
    margin-top: 5px;
    margin-bottom: 0;
    color: whitesmoke;
    font-size: 12px;
    font-style: italic;
  }

/*____________________________________________*\
        #SHOPPING PAGE STYLING
\*____________________________________________*/

#ShopPage-ctn{
    width: 100%;
    height: auto;
    margin-left: 0;
    display: flex;
    flex-direction: row;
}
#ShopAdLeft{
    background-color: var(--primary-color);
    border: 1px solid white;
    width: 25%;
    height: 100vh;
}
#ShopMain{
    background-color: var(--primary-color);
    width: 50%;
    height: 100vh;
}
#ShopAdRight{
    background-color: var(--primary-color);
    border: 1px solid white;
    width: 25%;
    height: 100vh;
}
#ShopAdLeft > p {
    color: whitesmoke;
    text-align: center;
    padding-top: 100%;
    text-transform: lowercase;
    font-style: italic;
    opacity: 50%;
}
#ShopAdRight > p {
    color: whitesmoke;
    text-align: center;
    padding-top: 100%;
    text-transform: lowercase;
    font-style: italic;
    opacity: 50%;
}
.shop-h1{
    font-family: 'Nunito';
    font-weight: 400;
    text-align: center;
    margin-top: 5%;
    font-size: 12px;
    color: white;
    opacity: 50%;
}
#shopRetrieve{
    border: 1px solid white;
    border-radius: 5px;
    border-style: dashed;
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 20px;
}
.label {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #404041;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-style: italic;
    padding: 5px 5px;
}
.ingredient{
    background-color: rgb(27, 26, 26);
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 10px 10px;
}
.ingredient > a{
    text-decoration: none;
}



/* responsiveness of the website site with media query*/

@media(max-width: 800px) {
    .logoChef {
        border: 1px solid white;
        width: 40%;
        height: 180px;
        margin: 10px auto;
        align-content: center;
    }
    .hideOnMobile{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    /* responsiveness off the reviews on tablets of screen 800px */

    .review {
        height: auto;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: rgb(37, 37, 37);
        display: flex;
        flex-direction: column;
    }
    .review p:first-child{
        font-size: 18px;
        padding-right: 0%;
    }
    .review p:last-child{
        padding-left: 0%;
        font-style: italic;
    }
}

@media(max-width: 480px) {
    .sideBar{
        width: 100%;
    }
    .logoChef {
        border: 1px solid white;
        width: 50%;
        height: 120px;
        margin: 10px auto;
        align-content: center;
    }
    .search-wrapper{
        display: flex;
        flex-direction: column;
    }
    .main-search{
        width: 20%;
        max-width: 150px;
        margin: -10px 150px;
        margin-bottom: 5px;
        background-color: whitesmoke;
        border-radius: 4px;
        border: none;
        font-size: 1.8rem;
        color: gray;
    }

    /* mobile screen media query for favourite page */
    .fav-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: rgb(27, 26, 26);
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        gap: 10px;
        align-items: center;
        overflow: hidden;
    }

    /* mobile screen media query for reviews on review page */
    .review {
        height: auto;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: rgb(37, 37, 37);
        display: flex;
        flex-direction: column;
    }
    .review p:first-child{
        font-size: 18px;
        padding-right: 0%;
        color: red;
    }
    .review p:last-child{
        padding-left: 0%;
    }

    /* mobile screen media query for shopping page */
    .shop-h1{color: red; opacity: 100%;}
    .label{
        font-size: 18px;
        padding: 5px 15px;
    }
    .ingredient{
        font-size: 14px;
        padding: 5px 5px;
    }
}

